@model IEnumerable<App.Domain.Movie.UserRating>

@{
    ViewData["Title"] = "Index";
}

<h1>@Base.Resources.Common.Index</h1>

<p>
    <a asp-action="Create">@Base.Resources.Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @item.Comment
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser!.Email)
            </td>
            <td>
                @item.MovieDetails!.Title
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Base.Resources.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
