@model App.Domain.Profile.ProfileMovie

@{
    ViewData["Title"] = "Details";
}

<h1>@Base.Resources.Common.Details</h1>

<div>
    <h4>@App.Resources.App.Domain.Profile.ProfileMovie.ProfileMovieString</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDetails!.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Base.Resources.Common.Edit</a> |
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>
