@using App.Resources.App.Domain.User
@using Base.Resources
@model App.Domain.User.Subscription

@{
    ViewData["Title"] = "Details";
}

<h1>@Common.Details</h1>

<div>
    <h4>@Subscription.SubscriptionString</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naming)
        </dt>
        <dd class="col-sm-10">
            @Model.Naming
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Common.Edit</a> |
    <a asp-action="Index">@Common.BackToList</a>
</div>