@using Base.Resources
@model IEnumerable<App.BLL.DTO.Subscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model!)
    {
        <tr>
            <td>
                @item.Naming
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>