@using App.Resources.App.Domain.MovieStandardDetails
@using Base.Resources
@model App.DTO.AgeRating

@{
    ViewData["Title"] = "Delete";
}

<h1>@Common.Delete</h1>

<div>
    <h4>@AgeRating.AgeRatingString</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naming)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naming)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowedAge)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@Common.Delete" class="btn btn-danger"/> |
        <a asp-action="Index">@Common.BackToList</a>
    </form>
</div>