@model App.Domain.Cast.CastInMovie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CastInMovie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CastRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CastRole!.Naming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persons!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieDetails!.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
