@using App.Resources.App.Domain.Profile
@using Base.Resources
@model App.DTO.ProfileFavoriteMovie

@{
    ViewData["Title"] = "Delete";
}

<h1>@Common.Delete</h1>

<div>
    <h4>@ProfileFavoriteMovie.ProfileFavoriteMovieString</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDetails)
        </dt>
        <dd class="col-sm-10">
            @Model.MovieDetails!.Title
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@Common.Delete" class="btn btn-danger"/> |
        <a asp-action="Index" asp-route-id="@ViewData["id"]">@Common.BackToList</a>
    </form>
</div>