@page
@using Base.Resources
@model Disable2faModel
@{
    ViewData["Title"] = Identity.disable2FA;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Identity.disables2FAOnly</strong>
    </p>
    <p>
        @Identity.disabling2FAMessage <a asp-page="./ResetAuthenticator">@Identity.resetAuthenticatorKeys</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Identity.disable2FAShort</button>
    </form>
</div>