@using App.Resources.App.Domain.Movie
@using Base.Resources
@model App.BLL.DTO.Video

@{
    ViewData["Title"] = "Delete";
}
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <h1>@Common.Delete</h1>

    <div>
        <h4>@Video.VideoString</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Season)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Season)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Model.Title
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FileUri)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FileUri)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Model.Description
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MovieDetails)
            </dt>
            <dd class="col-sm-10">
                @Model.MovieDetails!.Title
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="@Common.Delete" class="btn btn-danger"/> |
            <a asp-action="Index">@Common.BackToList</a>
        </form>
    </div>
}
else
{
    <h4 class="alert-danger">@Common.Unauthorized</h4>
    <p class="alert-danger">@Common.NoRights</p>
    <a asp-action="Index">@Common.BackToList</a>
}