@using Base.Resources
@model IEnumerable<App.Public.DTO.v1.Video>

@{
    ViewData["Title"] = "Index";
}

<h1>@Common.Index</h1>
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <p>
        <a asp-action="Create">@Common.Create</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieDetails)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model!)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.MovieDetails!.Title
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>