@model App.Domain.MovieStandardDetails.Genre

@{
    ViewData["Title"] = "Delete";
}

<h1>@Base.Resources.Common.Delete</h1>

<div>
    <h4>@App.Resources.App.Domain.MovieStandardDetails.Genre.GenreString</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naming)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Base.Resources.Common.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Base.Resources.Common.BackToList</a>
    </form>
</div>
