@model WebApp.Areas.Admin.ViewModels.CastInMovieCreateEditVM
       
       <div class="form-group">
           <label asp-for="CastInMovie.CastRoleId" class="control-label">@Base.Resources.Common.Role</label>
           <select asp-for="CastInMovie.CastRoleId" class="form-control" asp-items="Model.CastRoleSelectList">
               <option value="wrongData">--- @Base.Resources.Common.SelectRole ----</option>
           </select>
       </div>
       <div class="form-group">
           <label asp-for="CastInMovie.PersonId" class="control-label">@Base.Resources.Common.Person</label>
           <select asp-for="CastInMovie.PersonId" class="form-control" asp-items="Model.PersonSelectList">
                <option value="wrongData">--- @Base.Resources.Common.SelectPerson ----</option>
           </select>
       </div>
       <div class="form-group">
           <label asp-for="CastInMovie.MovieDetailsId" class="control-label">@Base.Resources.Common.MovieTitle</label>
           <select asp-for="CastInMovie.MovieDetailsId" class="form-control" asp-items="Model.MovieDetailsSelectList">
                <option value="wrongData">--- @Base.Resources.Common.SelectMovie ----</option>
           </select>
       </div>


