@using Base.Resources
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Cinesta</title>
    <link rel="stylesheet" href="~/js/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("HeaderScripts", false)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Exam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Common.Home</a>
                    </li>
                    @if (User.IsInRole("admin") || User.IsInRole("moderator") || User.IsInRole("user"))
                    {
                        <partial name="_UserAccountMenu"/>
                    }
                    @if (User.IsInRole("admin") || User.IsInRole("moderator") || User.IsInRole("user")
                        //&& !Bll.UserSubscription.IncludeGetAllByUserIdAsync(User.GetUserId()).Result.IsNullOrEmpty()
                        )
                    {
                        <partial name="_Menu"/>
                    }

                </ul>
                @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>*@
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Exam
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.validate.globalize.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)

@{
    var currentCultureCode = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0];

    // map .net datetime format strings to flatpick/momentjs format

    // https://flatpickr.js.org/formatting/
    // d - day of month,2 digits
    // j - day of month, no leading zero
    // m - month, 2 digits
    // n - mont, no leading zero
    // y - 2 digit year, Y - 4 digit year

    // https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo?view=netcore-3.1
    // dd.MM.yyyy or dd/MM/yyyy

    var datePattern = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern;
    datePattern = datePattern
        .Replace("dd", "d")
        .Replace("MM", "m")
        .Replace("yyyy", "Y");

    // LongTimePattern and ShortTimePattern HH:mm for 23:59,  h:mm tt for 11:59 PM
    var timePattern = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortTimePattern;
    var clock24H = timePattern.Contains("tt") == false;
    timePattern = timePattern
        .Replace("HH", "H")
        .Replace("mm", "i")
        .Replace("ss", "S")
        .Replace("tt", "K");
    var dateTimePattern = timePattern + " " + datePattern;
}

<script>
    // https://github.com/globalizejs/globalize#installation
    $.when(
        $.get("/js/cldr-core/supplemental/likelySubtags.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/numberingSystems.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/timeData.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/weekData.json", null, null, "json"),

        $.get("/js/cldr-numbers-modern/main/@currentCultureCode/numbers.json", null, null, "json"),
        $.get("/js/cldr-numbers-modern/main/@currentCultureCode/currencies.json", null, null, "json"),

        $.get("/js/cldr-dates-modern/main/@currentCultureCode/ca-generic.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/ca-gregorian.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/dateFields.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/timeZoneNames.json", null, null, "json")
    ).then(function () {
        return [].slice.apply(arguments, [0]).map(function (result) {
            Globalize.load(result[0]);
        });
    }).then(function () {
        // Initialise Globalize to the current culture
        Globalize.locale('@currentCultureCode');
    });

    $(function () {
        $('[type="datetime-local"]').each(function (index, value) {
            $(value).attr('type', 'text');
            $(value).val(value.defaultValue);
            $(value).flatpickr({
                locale: "@currentCultureCode",
                enableTime: true,
                altFormat: "@dateTimePattern",
                altInput: true,
                // dateFormat: "Z", // iso format (causes -3h during summer)
                // use direct conversion, let backend deal with utc/whatever conversions
                dateFormat: "Y-m-d H:i:s",
                disableMobile: true,
                time_24hr: @(clock24H.ToString().ToLower()),
            });
        });

        $('[type="time"]').each(function (index, value) {
            $(value).attr('type', 'text');
            $(value).val(value.defaultValue);
            $(value).flatpickr({
                locale: "@currentCultureCode",
                enableTime: true,
                noCalendar: true,

                altFormat: "@timePattern",
                altInput: true,
                dateFormat: "H:i", // 24h HH:mm
                disableMobile: true,

                time_24hr: @(clock24H.ToString().ToLower()),
            });
        });

        $('[type="date"]').each(function (index, value) {
            $(value).attr('type', 'text');
            $(value).val(value.defaultValue);
            $(value).flatpickr({
                locale: "@currentCultureCode",
                altFormat: "@datePattern",
                altInput: true,
                disableMobile: true,
                dateFormat: "Y-m-d", // YYYY-MM-DD
            });
        });
    });
</script>

</body>
</html>