@using Base.Resources
@model IEnumerable<App.Domain.Movie.MovieDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>@Common.Index</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">@Common.Create</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PosterUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Released)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieType)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosterUri)
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released)
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRating!.Naming)
            </td>
            <td>
                @item.MovieType!.Naming
            </td>
            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a>   
                                @if (User.IsInRole("admin"))
                                {
                                <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a>   
                                <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
                                }
                            </td>
        </tr>
    }
    </tbody>
</table>