@model App.Domain.RentMonthlyService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentMonthlyService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartRent!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyService!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
