@using Base.Resources
@model IEnumerable<App.BLL.DTO.CastInMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>@Common.Index</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">@Common.Create</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CastRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieDetails)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CastRole?.Naming
            </td>
            <td>
                @{
                    var fullName = string.Join(" ", item.Persons?.Name, item.Persons?.Surname);
                    @Html.DisplayFor(modelItem => fullName)
                }
            </td>
            <td>
                @item.MovieDetails?.Title
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Common.Details</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@Common.Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">@Common.Delete</a>
                }
            </td>

        </tr>
    }
    </tbody>
</table>