@model App.Domain.ApartRent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApartRent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartment!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person!.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
