@using App.Resources.App.Domain.Profile
@using Base.Resources
@model App.BLL.DTO.UserProfile

@{
    ViewData["Title"] = "Details";
}

<h1>@Common.Details</h1>

<div>
    <h4>@UserProfile.UserProfileString</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IconUri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IconUri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Common.Edit</a> |
    <a asp-action="Index">@Common.BackToList</a>
</div>